@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/*  FOOTER */

.footer-container {
  background: #000;
  color: #fff;
  padding: 50px 8%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.footer-title {
  margin-bottom: 5px;
}

.footer-text {
  font-size: 14px;
  opacity: 0.8;
}

.newsletter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.newsletter-box input {
  padding: 10px;
  width: 250px;
  max-width: 100%;
}

.newsletter-box button {
  padding: 10px 20px;
  background: #111;
  color: #fff;
  border: 1px solid #555;
  cursor: pointer;
}

.flag-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.small-note {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 5px;
}

.footer-divider {
  margin: 30px 0;
  border-color: #444;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin: 17px 0;
  opacity: 0.8;
  cursor: pointer;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
  margin-top: 20px;
}

.payments img {
  width: 45px;
  margin-right: 7px;
  margin-top: 20px;
}

.accept-title {
  margin-top: 20px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  opacity: 0.6;
}
.contact-box h4 {
  padding-bottom: 10px;
}
.contact-box p {
  margin-bottom: 10px;
}
.footer-mobile {
  display: none;
}

.mobile-section {
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.acc-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 6px 0;
}

.acc-body ul {
  list-style: none;
}

.acc-body li {
  margin: 6px 0;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer-top,
  .footer-bottom {
    display: none;
  }

  .footer-mobile {
    display: block;
  }

  .payments.mobile-pay img {
    width: 40px;
  }
}

/*  HEADER */

.header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 15px 40px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
  font-size: 26px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.brand-icon {
  width: 30px;
}

.header-logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.lang-menu {
  font-size: 14px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border-top: 1px solid #eee;
}

/*  Header Responsive */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .lang-menu {
    display: none;
  }

  .icon:nth-child(4) {
    display: none;
  }

  .header {
    padding: 12px 18px;
  }

  .header-icons {
    gap: 12px;
  }

  .icon {
    font-size: 18px;
  }
}

.wrapper {
  width: 100%;
  margin-top: 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.filterToggle {
  background: none;
  border: none;
  cursor: pointer;
}

.sortBox {
  position: relative;
  cursor: pointer;
}

.sortDropdown {
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  list-style: none;
  width: 280px;
  padding: 8px 0;
  z-index: 10;
}

.sidebar {
  width: 300px;
  border-right: 1px solid #eee;
  padding-right: 10px;
}

.section {
  padding: 12px 0;
}

/* Mobile filter bar */
.mobileBar {
  display: none;
}

.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99;
}

.mobilePanel {
  background: #fff;
  width: 80%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.closeBtn {
  border: none;
  background: none;
  font-size: 24px;
  float: right;
}

.applyBtn {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 20px;
}

/* Sidebar Responsive */
@media(max-width: 768px) {
  .topBar {
    display: none;
  }

  .mobileBar {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    font-weight: bold;
    border-bottom: 1px solid #eee;
  }

  .sidebar {
    display: none;
  }
}

/* PRODUCT CARD */

.product-card {
  width: 100%;
  max-width: 250px;
  margin: auto;
  position: relative;
  padding: 12px;
  background: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0px 2px 12px rgba(0,0,0,0.12);
  transform: translateY(-2px);
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.25s;
}


.product-img {
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-title {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-like-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.wishlist {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 3px;
  border-radius: 50%;
}

.product-price {
  font-size: 12px;
  color: gray;
  max-width: 80%;
}


.app-container {
  width: 100%;
}

.banner {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 30px 20px;
}

.banner p{
  font-weight: lighter;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  flex-wrap: wrap;
}

.sort-menu {
  position: absolute;
  right: 30px;
  top: 200px;
  background: white;
  border: 1px solid #ddd;
  width: 200px;
  padding: 10px;
  z-index: 30;
  cursor: pointer;
}
.sort-menu p{
  margin-bottom: 10px;
}
.content-grid {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
}

.filters-panel {
  width: 270px;
  border-right: 1px solid #eee;
}

.product-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}


@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .content-grid {
    flex-direction: column;
    padding: 15px;
  }

  .filters-panel {
    width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-img {
    height: 200px;
  }
}

@media (max-width: 520px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-img {
    height: 180px;
  }

  .banner {
    padding: 20px 12px;
  }

  .action-bar {
    gap: 10px;
    font-size: 12px;
    padding: 8px 15px;
  }
}

